<ul class="nav nav-pills nav-justified">
 
	<li>
	<%= link_to  new_establecimiento_path , class:"mininav nuevo" do %>
		Nuevo Establecimiento <i class="fa fa-plus-circle"></i> 
	<% end %>
	</li>
  <li>
  	<%= link_to  establecimientos_path,class:"mininav todos"  do %>
	<i class="fa fa-list"></i> Todos los Establecimientos
	<% end %>
  </li>
</ul>