
<h3 class="text-center">Editar Establecimiento</h3>

<%= render 'form' %>

<%= link_to content_tag(:i , ' Ver', class:"fa fa-folder-open"), @Establecimiento , class:"btn btn-default col-md-2 col-sm-2" %> 