
<label for="who">
  <input type="radio" name="suma" data-quien="venta_libro_gravado_bienes"> Gravado Bienes
</label>
<label for="who">
  <input type="radio" name="suma" data-quien="venta_libro_gravado_servicios"> Gravado Servicios
</label>
<label for="who">
  <input type="radio" name="suma" data-quien="venta_libro_exento_bienes"> Exento Bienes
</label>
<label for="who">
  <input type="radio" name="suma" data-quien="venta_libro_exento_servicios"> Exento Servicios
</label>
<div class="form-group">
  <label class="control-label">Sumar</label>
  <input type="number" class="form-control" id="sumar">
</div>
