<ul class="nav nav-pills nav-justified">
 
	<li>
	<%= link_to  new_compra_libro_path , class:"mininav compras" do %>
		Libro Compra<i class="fa fa-plus-circle"></i> 
	<% end %>
	</li>
  <li>
  	<%= link_to  new_venta_libro_path ,class:"mininav ventas"  do %>
	<i class="fa fa-list"></i> Libro Venta
	<% end %>
  </li>
</ul>