<%= render 'partials/libro' %>
<%= render 'form' %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:140px; overflow-x:scroll;">
<%= render 'compras' %>
</div>
<style>
  .nuevo{
    background: #CCD1D9;
  }
</style>


