<%= render 'partials/libro' %>
<%= render 'form' %>
<%= render 'partials/calc' %>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:240px; overflow-x:scroll;">
	<div style="min-width:1100px; max-width:100%;" class="render">
		<%= render 'compras' %>
	</div>
</div>
<style>
	.compras{
		background: #CCD1D9;
	}
</style>


