<ul class="nav nav-pills nav-justified">
 
	<li>
	<%= link_to  new_cuenta_contable_path , class:"mininav nuevo" do %>
		Nueva Cuenta Contable <i class="fa fa-plus-circle"></i> 
	<% end %>
	</li>
  <li>
  	<%= link_to  cuenta_contables_path,class:"mininav todos"  do %>
	<i class="fa fa-list"></i> Todas las Cuentas Contables
	<% end %>
  </li>
</ul>