<%= render 'partials/libro' %>
<h3 class="text-center">Ventas hechas por:  <%= @u.establecimiento.nombre %></h3>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:520px; overflow-x:scroll;">
	<div style="min-width:1100px; max-width:100%;" >
		<%= render 'ventas' %>
	</div>
</div>

<%= link_to 'Nueva Venta', new_venta_libro_path %>
