@import "bootflat";
.td-btn{
	width: 50px;
}
th{
	text-align: center;
}
td{
	text-align: center;
}

.mininav{
	font-size: 22px;
	font-style: italic;
}
.nav-pills li{
	border: solid 1px silver;
	border-radius: 5px;
}
.nav-pills{
	margin-bottom: 20px !important;
}
#notice, #alert{
	position: absolute;
	top:-100%;
	left: 30%;
	padding-top: 2.5%;
	text-align: center;
	font-size: 17px;
	border-radius: 5px;
	width:40%;
	height: 90px;
	z-index:90;
}
// #notice{
// 	background: rgba(0,100,66,0.7);
// }
// #alert{
// 	background: rgba(#044F67,0.9);
// }
.fa-grande{
	font-size: 13em !important;
}
.popover{
	z-index: 90;
}

.list-group-item {
	border: 1px solid #E6E9ED !important;
}
.list-group .primero{
	width: 100% !important;
}
.jumbotron .objeto{
	display: inline-block;
	position: relative;
	text-align: center;
}
.jumbotron .objeto:hover {
	color: #264348;
}
.jumbotron .objeto:active{
	color:  #6C7A89;
}
.fa-mas{
	font-size: 5em !important;
	position: absolute;
	top: 46%;
	right: 25%;
	color: #ABB7B7;
}
.jumbotron .objeto .bottom{
	width: 300px;
	top: 100%;
	box-shadow: 2px 3px 4px gray;
}
.margin-top{
	margin-top: 60px;
}
@media (min-width: 1500px){
	.objeto .bottom{
		left: 20%;
	}
}
@media (max-width: 836px){
	label{
		font-size: 12px;
	}
	table{
		font-size: 11px;
	}
	.fa-grande{
		font-size: 9.5em !important;
	}
}

.sesiones{
	margin-top: 1%;
}
#libro_ventas td , #libro_compras td{
	border:none;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
}
#libro_compras, #libro_ventas{
	table{
		border: 2px solid #DDD;
	}
	.th-sin-bordes th{
		border-top:none;

	}
	.tr-sin-bordes th{
		border-bottom: none;
	}
}
@media print {
  body {
    background-color: #FFF;
  }
  #libro_ventas {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  #pdf-render{
   font-size: 10px !important;
 }
 #line_items {
  page-break-before: always;
}
.pdf_link {
  display: none;
}
}
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

#resumen{
	border: 1px solid white;
	overflow: scroll;
}
.termina-partida{
	border-top: 2px solid black !important;
	border-bottom: 4px double black !important;
}
.border-grueso-right{
	border-right: 2px solid black !important;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
table{
  border-collapse: separate;
}
.render{
	margin-top: 20px;
}
.bold{
  font-weight: bold !important;
}
.reasignable, .vacio{
  min-width:40px;
}
.td-btn{
  width:54px !important;
  height: 52px !important;
}

.hide{
  display: none;
}
.no-border-top td{
  border-top: none !important;
  border-bottom: none !important;
}
.calculadora{
  position: absolute;
  left:0;
  top: 182px;
  z-index:-1;
  .mandos{
    position: relative;
    left: -110%;
    background: #049372;
    border-radius: 5px;
    border-left:  1px dashed #D2D7D3;
    box-shadow: 2px 2px 5px gray;
    padding: 2px 3px;
  }
  label{
    color: white;
  }
}
.toggle-calc{
  position: relative;
  left:0;
  bottom: 10;
  i{
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  i.left{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms--transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  i.right{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms--transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.no-pad{
  padding: 0 !important;
  margin: 0 !important;
}
.descripcion{
  font-size: 14px;
}
#compras_proveedor_nit{
  z-index: 5
}