.td-btn{
	width: 50px;
}
th{
	text-align: center;
}
td{
	text-align: center;
}	

.mininav{
	font-size: 22px;
	font-style: italic;
}
.nav-pills li{
	border: solid 1px silver;
	border-radius: 5px;
}
.nav-pills{
	margin-bottom: 20px !important;
}
#notice, #alert{
	position: absolute;
	top:-100%;
	left: 30%;
	padding-top: 2.5%;
	text-align: center;
	color: white;
	font-size: 17px;	
	border-radius: 5px;
	width:40%;
	height: 90px;
	z-index:90;
}
#notice{
	background: rgba(0,100,66,0.7);
}	
#alert{
	background: rgba(201,31,55,0.7);
}
.fa-grande{
	font-size: 13em !important;
}
.popover{
	z-index: 90;
}

.list-group-item {
	border: 1px solid #E6E9ED !important;
}
.list-group .primero{
	width: 100% !important;
}
.jumbotron .objeto{
	display: inline-block;
	position: relative;
	text-align: center;
}
.jumbotron .objeto:hover {
	color: #264348;
}
.jumbotron .objeto:active{
	color:  #6C7A89;
}
.fa-mas{
	font-size: 5em !important;
	position: absolute;
	top: 46%;
	right: 25%;
	color: #ABB7B7;
}
.jumbotron .objeto .bottom{
	width: 300px;
	top: 100%;
	box-shadow: 2px 3px 4px gray;
}

.margin-top{
	margin-top: 60px;
}
@media (min-width: 1500px){
	.objeto .bottom{
		left: 20%;
	}
}
@media (max-width: 836px){
	label{
		font-size: 12px;
	}
	table{
		font-size: 11px;
	}
	.fa-grande{
		font-size: 9.5em !important;
	}
}

.sesiones{
	margin-top: 1%;
}
#libro_ventas td , #libro_compras td{
	border:none;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
}
#libro_compras, #libro_ventas{
	table{
		border: 2px solid #DDD;
	}
	.th-sin-bordes th{
		border:none;
		border-bottom:  2px solid #DDD;
		border-right: 2px solid #DDD;
	}
	.tr-sin-bordes th{
		border-bottom: none;
		border-right: 2px solid #DDD;
	}
}
@media print {
  body {
    background-color: #FFF;
  }
  #libro_ventas {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  #pdf-render{
	font-size: 10px !important;  
}
  #line_items {
    page-break-before: always;
  } 
  #pdf_link {
    display: none;
  }
}
.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

#partidas{
	border: 1px solid black;
	width: 1024px;
	height:720px;
	overflow: scroll;
}
.termina-partida{
	border-top: 2px solid black !important;
	border-bottom: 4px double black !important;
}
.border-grueso-right{
	border-right: 2px solid black !important;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}