<%= render 'nav' %>
<span class="text-center col-md-12 col-sm-12 col-xs-12" style="font-size:20px; font-weight: bold;">Registro de Folio para: <%= @establecimiento.nombre %></span>

<%= render 'form' %>