<ul class="nav nav-pills nav-justified">
 
	<li>
	<%= link_to  new_contribuyente_path , class:"mininav nuevo" do %>
		Nuevo Contribuyente <i class="fa fa-plus-circle"></i> 
	<% end %>
	</li>
  <li>
  	<%= link_to  contribuyentes_path,class:"mininav todos"  do %>
	<i class="fa fa-list"></i> Todos los Contribuyentes  
	<% end %>
  </li>
</ul>