<ul class="nav nav-pills nav-justified">
  <li><%= link_to "Nuevo Contribuyente", new_contribuyente_path ,class:"mininav"%></li>
  <li><%= link_to "Todos los Contribuyentes", contribuyentes_path,class:"mininav" %></li>
</ul>